#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1 {
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  min-height: 0px;
  overflow: hidden;
  padding-bottom: 3%;
  padding-top: 3%;
  text-align: center;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1 h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 26px;
  padding-top: 26px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1 {
  clear: both;
  display: inline-block;
  float: none;
  height: auto;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 580px;
  min-height: 10px;
  padding-right: 1%;
  vertical-align: middle;
  width: 55%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk1 {
  clear: both;
  float: none;
  text-align: left;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk1 h1 {
  color: rgba(255,54,5,1);
  font-family: Georgia;
  font-size: 6em;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 5px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk1 h2 {
  color: rgba(246,246,246,1);
  font-family: Georgia;
  font-size: 2.4em;
  padding-bottom: 0px;
  padding-top: 0px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk1 p {
  font-size: 1.25em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk2 {
  clear: both;
  float: none;
  padding-top: 40px;
  text-align: left;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk2 a {
  background-color: rgba(255,41,5,1);
  color: rgba(0,0,0,1);
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  text-transform: uppercase;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk2 {
  border-left-style: solid;
  border-left-width: 1px;
  clear: both;
  display: inline-block;
  float: none;
  height: auto;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 400px;
  min-height: 10px;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-top: 2%;
  vertical-align: middle;
  width: 37%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk2_blk1 {
  clear: both;
  float: none;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk2_blk2 {
  clear: both;
  display: inline-block;
  float: none;
  text-align: left;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk2_blk2 input {
  margin-bottom: 5px;
  margin-left: 3px;
  width: 80%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk2_blk2 input[type='reset'] {
  background-color: rgba(255,41,5,1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: none;
  font-weight: bold;
  height: auto;
  line-height: 1.5;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-transform: uppercase;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk2_blk2 input[type='submit'] {
  background-color: rgba(255,41,5,1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: none;
  font-weight: bold;
  height: auto;
  line-height: 1.5;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-transform: uppercase;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk2_blk2 select {
  margin-bottom: 5px;
  margin-left: 3px;
  width: 85%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk2_blk2 textarea {
  height: 40px;
  margin-left: 3px;
  width: 80%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2 {
  background-color: rgba(255,41,5,1);
  background-image:url('/Users/hanybekhit/Desktop/My%20Website/assets/images/bg_1600x623_repair_tech.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 0px;
  text-align: center;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2 h6 {
  color: rgba(255,255,255,1);
  font-family: Georgia;
  font-size: 2.4em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2 p {
  color: rgba(255,255,255,1);
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1 {
  background-image:url('/Users/hanybekhit/Desktop/My%20Website/assets/images/util_84x31_black_bars.png');
  background-position: 85% top;
  background-repeat: no-repeat;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1 img {
  max-width: 184px;
  padding-bottom: 4%;
  width: 100%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk1 {
  clear: both;
  display: block;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk1 h2 {
  color: rgba(0,0,0,1);
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk2 {
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 300px;
  min-width: 22%;
  vertical-align: top;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk2_blk1 {
  background-image: none;
  clear: both;
  height: auto;
  line-height: 20;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk2_blk1 p {
  line-height: normal;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk2_blk2 {
  clear: both;
  font-weight: bold;
  margin-bottom: 15px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk2_blk3 {
  clear: both;
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: justify;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk2_blk3 p {
  text-align: center;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk3 {
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 300px;
  min-width: 22%;
  vertical-align: top;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk3_blk1 {
  background-image: none;
  clear: both;
  height: auto;
  line-height: 20;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk3_blk1 p {
  line-height: normal;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk3_blk2 {
  clear: both;
  font-weight: bold;
  margin-bottom: 15px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk3_blk3 {
  clear: both;
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: justify;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk3_blk3 p {
  text-align: center;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk4 {
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 300px;
  min-width: 22%;
  vertical-align: top;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk4_blk1 {
  background-image: none;
  clear: both;
  height: auto;
  line-height: 20;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk4_blk1 p {
  line-height: normal;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk4_blk2 {
  clear: both;
  font-weight: bold;
  margin-bottom: 15px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk4_blk3 {
  clear: both;
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: justify;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk4_blk3 p {
  text-align: center;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk5 {
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 300px;
  min-width: 22%;
  vertical-align: top;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk5_blk1 {
  background-image: none;
  clear: both;
  height: auto;
  line-height: 20;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk5_blk1 p {
  line-height: normal;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk5_blk2 {
  clear: both;
  font-weight: bold;
  margin-bottom: 15px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk5_blk3 {
  clear: both;
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: justify;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk5_blk3 p {
  text-align: center;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3 {
  background-color: rgba(255,255,255,1);
  background-image:url('/Users/hanybekhit/Desktop/My%20Website/assets/images/util_84x31_black_bars.png');
  background-position: 85% top;
  background-repeat: no-repeat;
  min-height: 0px;
  padding-bottom: 25px;
  text-align: center;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1 {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  min-height: 0px;
  width: 90%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1 p {
  color: rgba(0,0,0,1);
  font-size: 1.25em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1 ul li {
  color: rgba(0,0,0,1);
  font-size: 1.4em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk1 h2 {
  padding-bottom: 4%;
  padding-top: 4%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk1 {
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk2 {
  background-color: #FFFFFF;
  display: inline-block;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  vertical-align: top;
  width: 90%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk2 img {
  width: 100%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk2_blk1 {
  background-color: #322d2a;
  clear: both;
  color: #FFFFFF;
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 630px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  vertical-align: middle;
  width: 63%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk2_blk2 {
  clear: both;
  display: inline-block;
  line-height: 1.4;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 310px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  vertical-align: middle;
  width: 31%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk2_blk2 ul {
  list-style-position: inside;
  list-style-type: disc;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4 {
  background-attachment: scroll;
  background-color: rgba(0,0,0,1);
  background-image:url('/Users/hanybekhit/Desktop/My%20Website/assets/images/bg_1600x651_checker.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  clear: both;
  color: #FFFFFF;
  min-height: 550px;
  text-align: center;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1 {
  background-image:url('/Users/hanybekhit/Desktop/My%20Website/assets/images/util_84x31_black_bars.png');
  background-position: 85% top;
  background-repeat: no-repeat;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk1 {
  text-align: center;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk1 h2 {
  padding-bottom: 50px;
  padding-top: 50px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2 {
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2 img {
  max-width: 118px;
  width: 100%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2_blk1 {
  border-right-style: solid;
  border-right-width: 1px;
  clear: both;
  display: inline-block;
  float: none;
  font-size: 1.5em;
  max-width: 300px;
  min-height: 0px;
  min-width: 28%;
  padding-bottom: 50px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 50px;
  vertical-align: top;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2_blk1 p {
  word-wrap: break-word;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2_blk2 {
  border-right-style: solid;
  border-right-width: 1px;
  clear: both;
  display: inline-block;
  float: none;
  font-size: 1.5em;
  max-width: 300px;
  min-height: 0px;
  min-width: 28%;
  padding-bottom: 50px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 50px;
  vertical-align: top;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2_blk2 p {
  word-wrap: break-word;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2_blk3 {
  clear: both;
  display: inline-block;
  float: none;
  font-size: 1.5em;
  max-width: 300px;
  min-height: 0px;
  min-width: 28%;
  padding-bottom: 50px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 50px;
  vertical-align: top;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2_blk3 p {
  word-wrap: break-word;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk5 {
  clear: both;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6 {
  background-color: rgba(255,41,5,1);
  background-image:url('/Users/hanybekhit/Desktop/My%20Website/assets/images/util_84x31_black_bars.png');
  background-position: 85% top;
  background-repeat: no-repeat;
  min-height: 0px;
  padding-bottom: 5%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1 {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  min-height: 0px;
  text-align: center;
  width: 90%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1 h6 {
  color: rgba(255,255,255,1);
  font-size: 1.2em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1 p {
  color: rgba(255,255,255,1);
  font-size: 1.5em;
  padding-bottom: 10px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1_blk1 {
  clear: both;
  text-align: center;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1_blk1 h2 {
  color: rgba(0,0,0,1);
  padding-bottom: 50px;
  padding-top: 50px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1_blk2 {
  background-image:url('/Users/hanybekhit/Desktop/My%20Website/assets/images/util_32x33_triangle.png');
  background-position: left 30px;
  background-repeat: no-repeat;
  clear: both;
  display: inline-block;
  float: none;
  height: auto;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  padding-left: 32px;
  width: 40%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1_blk2_blk1 {
  background-color: rgba(0,0,0,1);
  clear: both;
  float: none;
  padding-bottom: 8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1_blk3 {
  background-image:url('/Users/hanybekhit/Desktop/My%20Website/assets/images/util_32x33_triangle.png');
  background-position: left 30px;
  background-repeat: no-repeat;
  clear: both;
  display: inline-block;
  float: none;
  height: auto;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  padding-left: 32px;
  width: 40%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1_blk3_blk1 {
  background-color: rgba(0,0,0,1);
  clear: both;
  float: none;
  padding-bottom: 8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1_blk4 {
  background-image:url('/Users/hanybekhit/Desktop/My%20Website/assets/images/util_32x33_triangle.png');
  background-position: left 30px;
  background-repeat: no-repeat;
  clear: both;
  display: inline-block;
  float: none;
  height: auto;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  padding-left: 32px;
  width: 40%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1_blk4_blk1 {
  background-color: rgba(0,0,0,1);
  clear: both;
  float: none;
  padding-bottom: 8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
  width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1_blk5 {
  background-image:url('/Users/hanybekhit/Desktop/My%20Website/assets/images/util_32x33_triangle.png');
  background-position: left 30px;
  background-repeat: no-repeat;
  clear: both;
  display: inline-block;
  float: none;
  height: auto;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  padding-left: 32px;
  width: 40%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk6_blk1_blk5_blk1 {
  background-color: rgba(0,0,0,1);
  clear: both;
  float: none;
  padding-bottom: 8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
  width: auto;
}

#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1 {
padding-top: 2%;
}

@media screen and (max-width: 1000px) {#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk5 {
width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1 {
width: 100%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2 {
width: 100%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2 h6 {
font-size: 1.7em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3 {
width: 100%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4 {
background-size: auto 100%;
width: 100%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1 {
width: 100%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1 h6 {
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk2 {
margin-bottom: 50px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk1 h1 {
font-size: 4.5em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk1 h2 {
font-size: 1.9em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk1 p {
font-size: 0.9em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2_blk1 {
border-right-style: none;
border-right-width: 0px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2_blk2 {
border-right-style: none;
border-right-width: 0px;
}
}

@media screen and (max-width: 770px) {#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2 h6 {
font-size: 1.3em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1 p {
font-size: 0.9em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1 h6 {
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1 p {
font-size: 12px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1 {
border-bottom-style: solid;
border-bottom-width: 1px;
padding-bottom: 4%;
width: 90%;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_blk2 p {
font-size: 12px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk1 h1 {
font-size: 3.2em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_blk1 h2 {
font-size: 1.6em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk2_blk2 ul li {
font-size: 12px;
}
}

@media screen and (max-width: 499px) {#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3 {
padding-top: 31px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1 {
padding-top: 31px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1 p {
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1 {
padding-top: 31px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1 {
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk3 {
width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk4 {
width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1_blk5 {
width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk2_blk2 {
width: auto;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1_blk2_blk1 {
width: auto;
}
}
